<h1 align="center">Welcome to <%= @user.username %>'s snippet page</h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%# gravatar_for @user, size: 150%>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s snippets</h4>
<div class="center">
  <%= will_paginate @user_snippets %>
</div>
<hr>
<br>
<% @user_snippets.each do |s| %>
    <div class="well col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="post-title">
          <%= link_to s.title, snippet_path(s) %>
        </div>
        <div>
          <h5 align="center">Writen by:<span class="language"> <%= s.kind.language %></span></h5>
        </div>
        <div class="post-body">
          <%= markdown("```" + s.kind.language + "\n" + s.work + "\n```") %>
        </div>
        <%# if logged_in? && current_user == p.user %>
          <div class="post-actions">
            <%= link_to 'Edit', edit_snippet_path(s), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete', snippet_path(s),
                              method: :delete,
                              data: {confirm: 'Are you sure?'}, class: "btn btn-xs btn-danger" %>
          </div>
        <%# end %>
      </div>
    </div>
<% end %>

<div class="center">
  <%= will_paginate @user_snippets %>
</div>
